doctype html
html
  head
    title= title
    //CSS
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/page.css')
    link(rel="stylesheet", href="https://www.w3schools.com/w3css/3/w3.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crete+Round")
    // END CSS
    
    // JS
    block scripts
        script(src="scripts/pageScripts.js")
    // END JS

  body
    block banner
    block content

